In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

**Carregando e pré-processando os dados;**

In [2]:
dados = pd.read_csv('cars_efficient.csv')
dados

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand,is_efficient
0,14.0,8,350.0,165,4209.0,12,1972,US.,0
1,31.9,4,89.0,71,1925.0,14,1980,Europe.,1
2,17.0,8,302.0,140,3449.0,11,1971,US.,0
3,15.0,8,400.0,150,3761.0,10,1971,US.,0
4,30.5,4,98.0,63,2051.0,17,1978,US.,1
...,...,...,...,...,...,...,...,...,...
256,17.0,8,305.0,130,3840.0,15,1980,US.,0
257,36.1,4,91.0,60,1800.0,16,1979,Japan.,1
258,22.0,6,232.0,112,2835.0,15,1983,US.,0
259,18.0,6,232.0,100,3288.0,16,1972,US.,0
260,22.0,6,250.0,105,3353.0,15,1977,US.,0

In [3]:
dados.isnull().sum()

mpg             0
cylinders       0
cubicinches     2
hp              0
weightlbs       3
time-to-60      0
year            0
brand           0
is_efficient    0
dtype: int64

In [4]:
dados.dropna(inplace=True)
dados

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand,is_efficient
0,14.0,8,350.0,165,4209.0,12,1972,US.,0
1,31.9,4,89.0,71,1925.0,14,1980,Europe.,1
2,17.0,8,302.0,140,3449.0,11,1971,US.,0
3,15.0,8,400.0,150,3761.0,10,1971,US.,0
4,30.5,4,98.0,63,2051.0,17,1978,US.,1
...,...,...,...,...,...,...,...,...,...
256,17.0,8,305.0,130,3840.0,15,1980,US.,0
257,36.1,4,91.0,60,1800.0,16,1979,Japan.,1
258,22.0,6,232.0,112,2835.0,15,1983,US.,0
259,18.0,6,232.0,100,3288.0,16,1972,US.,0
260,22.0,6,250.0,105,3353.0,15,1977,US.,0

**Criando e executando o algoritmo de árvore de decisão**

In [6]:
#Separando o dataset entre dados de treino e variável alvo;
X = dados.drop('brand', axis=1)
y = dados['brand']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
model = DecisionTreeClassifier()

In [9]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [11]:
y_pred = model.predict(X_test)

In [12]:
accuracy = accuracy_score(y_test, y_pred)
print("Acurácia: {:.2f}%".format(accuracy * 100))

Acurácia: 81.82%

**Algoritmo pronto para uso na classificação de marcas**